body
{
    background-color: ghostwhite;
    margin: 0;
}

/* top dv */

#katieDiv
{
    position: relative;
    background-color: maroon;
    height: 100px;
}

#downloadButton
{
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    border-width: 3px;
}

#downloadButton:link
{
    color: maroon;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    transition: 0.2s;
    border: 3px solid white;
}

#downloadButton:hover
{
    color: green;
    background-color: white;
    padding: 18px 25px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 5px;
    transition: 0.2s;
    border: 3px solid green;
}



#logo
{
    position: absolute;
    width: 10%;
    border-radius: 30px;
    padding: 15px;
    right: 0px;
}


/* BOXES */

#checkboxHolder
{
    position: relative;
    background-color: ghostwhite;
    width: 90%;
    margin: auto;
    border: 3px solid maroon;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* */
.boxHolders
{
    /* display: inline-block; */
    /* position: absolute;
    /* display: table; */
    background-color: #fff;
    border: 3px solid orange;
    border-radius: 50px;
    padding: 10px 15px; 
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: orange;
    margin: 15px 15px;
    transition: 0.3s;
}
/* */ 

.boxHolders:has(.checkbox:checked)
{
    background-color: orange;
    color: white;
    transition: 0.3s;
}

#OriginalShopDiv
{
    display: none;
} 


.label
{
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.checkbox
{
    display: none;
}



/* MEAT */

#theMeat
{
    position: absolute;
    width: 100%;
    height: 100%;    

    margin: 0;
    border: 0;
    padding: 0;
}

#mainTable
{
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    width: 80%;
    table-layout: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

.tableRow
{
    background-color: rgb(210, 210, 210);
    text-align: center;
    height: 40px;
    border: 2px solid rgb(120, 120, 120); 
    font-family: Arial, Helvetica, sans-serif;
}

.odd
{
    background-color: rgb(252, 252, 252);
}

.header
{
    background-color: rgb(144, 44, 44);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cell
{
    text-align: center;
    position: static;
    width: 25%;
    /* border: 1px solid rgb(120, 120, 120); */
}


/* EXTRAS */

.trianlge
{
    position: absolute;
    fill: rgba(255, 166, 0, 0.5);
}

.off
{
    transform: translate(20px, -10px);
    fill: rgba(255, 166, 0, 0.3);
}


.bottom
{
    transform: rotate(180deg);
}
